<div class="lycoris-container">
  <pre class="lycoris-art" (click)="onLycorisClick()">
                                       ####                             ####                                      
                                      #####                            ######                                     
                         ####         #####                            ######        ####                         
                         #####        ####                              #####       ######                        
                        ######        ###                                ###         #####                        
                         ####         ###                                ###         #####                        
                         ###          ###                                ###          ###                         
             ####        ####         ###                                ###          ###         ####            
             ####        ####          ##       #####        ####        ###          ###         ####            
             ####         ###          ###    #######       #######      ###         ####        #####            
              ###         ###          ###   #######         #######     ##          ###          ###             
  ####         ##          ###          ### #######   ###      #####    ###          ###          ##        ####  
  #####        ###         ####         ### ######   #####     ######  ###          ###          ###        ##### 
  ######       ###          ###   ######### ######    #######   #####  ########    ###          ###        #####  
   #####        ###          ### ####### #########   ########   ###### #########  ###           ###        #####  
    ####         ###          #######     ########  ########    #########   ########          ####         ###    
     ###          ###          ######     ########  ########    ########     ######          ####         ###     
      ###          ###       ##########    #######   #######    #######    #########        ###          ###      
       ###          ####      ##########    ######   #######    ######    ###########      ###          ###       
        ####          ###      ##########    #####   #######   #######   ###########     ####          ###        
          ####         ####     ###########   #####  #######   ######  ############    ####          ####         
           #####          ####    ###########  ##### #######  ######  ##########    #####          ####           
              ####          ####     #########  ##### #####  #####  #########     ####           ####             
               ######         #####     ######################### ########    ######          #####               
                  #######        #######   ############################   ######         #######                  
                      ######################################################################                      
                           #############################################################                          
                         ###############################################################                          
                       ###########           ######################        ###############                        
                       #######            ########## ######### #######           ##########                       
                      ######            ##########   ########   #########            ######                       
                      #####            #########      ######     ##########            #####                      
                      ####            ########         #####      ##########            ####                      
                      ####           ########          #####        #########           ####                      
                       #######      ########           #####         #########     ########                       
                                    ########           #####          ########       ####                         
                                     #######           #####          ########                                    
                                      ###########      #####          #######                                     
                                        ########       #####      #########                                       
                                                       #####       #####                                          
                                                       #####                                                      
                                                       #####                                                      
                                                       #####                                                      
                                                       #####                                                      
                                                       #####                                                      
                                                       #####                                                      
                                                       #####                                                      
                                                       #####                                                      
                                                       #####                                                      
                                                       #####                                                      
                                                       #####                                                      
                                                       #####                                                      
                                                       #####                                                      
                                                       #####                                                      
                                                       #####                                                      
                                                       #####                                                      
                                                       #####                                                      
                                                       #####                                                      
                                                       ####                                                       
  </pre>
</div>
